html
    head
        meta(charset='utf-8')
    body
        h1 Reset Password
        div.container
            p To reset password click following link#{ " " }
                a(href="https://app.lendzee.ai/forgot-password?token=#{token}") Reset Password